@import url("/assets/css/fonts.css");

body {
    font-family: "Noto Sans";
    background-color: SlateGray;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 540px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gbMenuItems {
    font-family: "PokemonRBY";
    position: absolute;
    top: 98px;
    left: 142px;
    height: 160px;
    width: 270px;
    overflow: hidden;
    line-height: 100%;
}

#selector {
    position: absolute;
    top: 110px;
    left: 124px;
}

#dialogLine1 {
    font-family: "PokemonRBY";
    position: absolute;
    top: 307px;
    left: 126px;
    line-height: 100%;
}

#dialogLine2 {
    font-family: "PokemonRBY";
    position: absolute;
    top: 340px;
    left: 126px;
    line-height: 100%;
}

a.gbMenuEntry {
    text-decoration: none;
    color: black;
}

#timeDisplay {
    left: 126px;
    top: 322px;
    position: absolute;
    font-family: "PokemonRBY";
}

footer {
    background-color: darkslategray;
    color: lightgray;
    font-family: "Muli", sans-serif;
    font-size: 0.75em;
    padding: 15px;
    margin: 15px;
    border-radius: 6px;
    position: relative;
    bottom: 0;
}

footer a {
    color: lightgray;
}

.bold {
  font-weight: bolder;
}

