body {
    background-color: SlateGray;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 540px;
}

.menuItems {
    position: absolute;
    top: 98px;
    left: 126px;
}